:root > * {
    --md-primary-fg-color:               #AC2E45;
    --md-primary-fg-color--light:        #D84B61;
    --md-primary-fg-color--dark:         #982942;
    --md-accent-fg-color:                #C13349;
    --md-accent-fg-color--transparent:   #F3BAC5;
}

[data-md-color-scheme="slate"] {
    --md-hue: 210; /* [0, 360] */
    --md-primary-fg-color:               #AC2E45;
    --md-primary-fg-color--light:        #D84B61;
    --md-primary-fg-color--dark:         #982942;
    --md-accent-fg-color:                #C13349;
    --md-accent-fg-color--transparent:   #EB8F9F;
}

.md-header__button.md-logo :-webkit-any(img,svg) {
    height: 36px;
}

.nordic {
    color: #00a9ce;
}

.red-wire {
    color: #ef5552;
}

.gray-wire {
    color: #757575;
}

.amber-wire {
    color: #ffc105;
}

.light-green-wire {
    color: #8bc34b;
}

.light-blue-wire {
    color: #02a6f2;
}

.md-typeset .blog-cards,
.md-typeset .product-cards {
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 14rem), 1fr));
  margin: 2rem 0 1rem 0;
}

.md-typeset .product-cards li > p:nth-child(2) {
  height: 1.8rem;
  line-height: 1.8rem;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
}

.md-typeset .product-cards li > p:nth-child(2) > a {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--md-default-fg-color--light);
  display: inline-block;
  vertical-align: top;
  line-height: normal;
}

.md-typeset .product-cards li > p:nth-child(2) > a:hover {
  color: var(--md-primary-fg-color);
}

.md-typeset .product-cards li:last-child {
  max-width: 30rem;
}

.md-typeset .product-cards .md-button {
  width: 100%;
}

.md-typeset .product-cards p {
  text-align: center;
}

.md-typeset .blog-cards a {
  color: var(--md-default-fg-color);
}

.md-typeset .blog-cards a:hover {
  color: var(--md-primary-fg-color);
}

.md-typeset .blog-cards p:last-child {
  color: var(--md-default-fg-color--light);
  font-size: .7rem;
  line-height: 1.3;
  margin: 0.5rem 0 !important;
}

.md-typeset .view-all-btn {
  text-align: center;
  margin-bottom: 2rem;
}

/*
.md-typeset table:not([class]) {
  border: unset;
  border-collapse: collapse;
}

.md-typeset table:not([class]) tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.035);
}

.md-typeset table:not([class]) tbody tr:hover {
  background-color: var(--md-typeset-table-color);
  box-shadow: unset;
}

.md-typeset table:not([class]) th {
  min-width: 5.0rem;
}

.md-typeset table:not([class]) td,
.md-typeset table:not([class]) th {
  padding: 0.625em 0.625em
}

.md-typeset table:not([class]) td,
.md-typeset table:not([class]) th,
.md-typeset table:not([class]) tr {
  border-top: unset;
  border: 1px solid var(--md-typeset-table-color);
}
*/
